.search_bar {
  display: flex;
  position: sticky;
  justify-content: center;
}

.character_list {
  display: flex;
  flex-direction: column;
}

.flex-box-column {
  display: flex;
  flex-direction: column;
}

